
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, white, black);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.container {
    background-color:black;
    width: 80%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 20px;
}

.heading {
    width: 80%;
    max-width: 400px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 40px;
}

.thestar {
    width: 100px;
}
